.editor {
    gap: 80px;
    margin-block: 50px;
}

.editor-container {
    border-radius: 30px;
    width: 80%;
    max-width: 550px;
    height: 550px;
    background-color: #a6a9ad13;
    justify-items: center;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px -1px 10px #51555f;
}

.txt-input input {
    font-family: poppins-medium, Arial, Helvetica, sans-serif;
    font-size: 2em;
    width: 100%;
    max-width: 450px;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    border: solid #626470 1px;
    box-shadow: 0px -1px 10px #747988;
    background-color: transparent;
    color: rgb(160, 159, 159);
}

.line-navigate button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
}

.line-navigate button:nth-child(1) {
    background-color: #71b5f1;
}

.line-navigate button:nth-child(2) {
    background-color: #71f191;
}

.line-navigate button:nth-child(3) {
    background-color: #f18b71;
}

.line-navigate button:nth-child(1):hover {
    background-color: #a3c9ea;
}

.line-navigate button:nth-child(2):hover {
    background-color: #abe4ba;
}

.line-navigate button:nth-child(3):hover {
    background-color: #eeb2a3;
}

.line-opratore {
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.1em;
}

.line-opratore button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 2em;
    font-family: poppins-semi-bold, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: transparent;
}

.line-opratore button:hover {
    background-color: #6a6d7077;
}

.increase-txt {
    grid-column: 2/3;
    grid-row: 1/2;
}

.decrease-txt {
    grid-column: 3/4;
    grid-row: 1/2;
}

.color-btn {
    position: relative;
    grid-column: 3/4;
    grid-row: 2/3;
}

.color-outline-btn {
    position: relative;
    grid-column: 4/5;
    grid-row: 2/3;
}

.color-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.line-opratore select {
    grid-column: 1/4;
    grid-row: 2/3;
    height: 60px;
    border-radius: 10px;
    padding: 0.6em;
    font-size: 1.4em;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    max-width: 150px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #a6a9ad44;
    box-shadow: 1px 2px 0px 0px #0a0a0a;
    ;
}

.line-opratore select option {
    background-color: #575d6f;
}

.line-opratore select:hover {
    background-color: #6a6d7077;
}

.actions {
    display: flex;
}

.actions a {
    text-decoration: none;
    width: 150px;
    height: 40px;
    display: block;
    color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
    font-family: poppins-medium, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 3px;
}

.actions a:nth-child(1) {
    background-color: #ab6fd6;
}

.actions a:nth-child(2) {
    background-color: #5b7ed0;
}

.actions a:nth-child(3) {
    background-color: #6cca7c;
}

.actions a:nth-child(1):hover {
    background-color: #b189ce;
}

.actions a:nth-child(2):hover {
    background-color: #95a7d1;
}

.actions a:nth-child(3):hover {
    background-color: #76b180;
}