.gallery {
    background-color: #3c4454;
    box-shadow: 0px -1px 10px #747988;
    padding: 20px;
    border-radius: 50px;
    margin-block: 55px;
}

.gallery img {
    width: 220px;
    margin: 10px;
    cursor: pointer;
}

.gallery img:hover {
    box-shadow: 1px 0px 12px 9px #51555f;
}

.pic-gallery {
    text-align: center;
}

.gallery input {
    font-family: poppins-medium, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px;
    border: solid #727684 4px;
    box-shadow: 0px -1px 10px #747988;
    background-color: transparent;
    margin: 20px;
}

.upload-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: poppins-extra-bold, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    max-width: 1190px;
    height: 220px;
    border-radius: 20px;
    padding: 10px;
    border: solid #727684 4px;
    box-shadow: 0px -1px 10px #747988;
    background-color: transparent;
    color: #747988;
    margin: 20px;
    cursor: pointer;
}

.upload-img:hover {
    box-shadow: 0px -1px 10px 3px #747988;
}

.file-input {
    display: none;
}

.upload-img label {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}